/**
* @name Re-Dark Theme
* @author oomfie
* @version 0.0.1
* @description dark reader but a theme with momo font/ Based on discord recolor/burple recolor
* @website https://codeberg.org/oomfie/Re-Dark
**/

@import url('https://codeberg.org/oomfie/Re-Dark/raw/branch/main/Theme/base.theme.css');

:root {
  --accentcolor: 212,177,57;
  --accentcolor2: 140,121,140;
  --linkcolor: 227,167,151;
  --mentioncolor: 10,10,37 !important;
  --textbrightest: 216,211,192;
  --textbrighter: 183,178,160;
  --textbright: 120,115,100;
  --textdark: 155,143,124;
  --textdarker: 110,101,86;
  --textdarkest: 110,101,86;
  --font: 'Hack';
  --backgroundaccent: 28,28,28;
  --backgroundprimary: 15,17,16;
  --backgroundsecondary: 8,10,9;
  --backgroundsecondaryalt: 0,0,0;
  --backgroundtertiary: 0,0,0;
  --backgroundfloating: 0,0,0;
}

/* custom css below */

